<div class="productDescriptionBackground">
    <div class = "wrapper">
        <article class="productDescription">
            <h2>{{pName}}</h2>
                <div class="details">
                    <div class="product-image">
                        <!-- Display the product image -->
                        <img src="/img/{{imageURL}}" alt="{{pName}}">
                    </div>
                    <div class="product-info">
                        <!-- Display product details -->
                        <p><strong>Description:</strong> {{desc}}</p>
                        <p><strong>Price:</strong> ${{price}}</p>
                        <p><strong>Color:</strong> {{color}}</p>
                        <p><strong>Category:</strong> {{category}}</p>
                        <p><strong>Quantity in stock:</strong> {{quantity}}</p>
                        <!-- Back to product list button -->
                        <a href="/products" class="cta">Back to Product List</a>
                    </div>
                </div>
        </article>
    </div>
</div>